---
title: 'Velociraptor | The script runner for Deno'
layout: layouts/main.njk
scripts:
  - asciinema-player.js
styles:
  - home.css
---

<div class="main hero mt-12 py-20 flex flex-col-reverse md:flex-row items-center relative">

  <div class="flex flex-col items-center text-center mt-8 md:mt-0 md:mr-auto md:items-start md:text-left">
    <h1 class="text-5xl font-bold mb-8">The script runner <br>for Deno</h1>
    <a href="/docs"
       class="bg-blue-600 hover:bg-blue-700 transition-colors duration-300 rounded-lg shadow px-5 py-3 text-white text-lg">
      Get started
    </a>
  </div>

  <div>
    <svg class="chevron" width="800px" height="603.3px" viewBox="0 0 205.8 155.2">
      <style type="text/css">
        .st0 {
          fill: url(#gradient);
        }
      </style>
      <linearGradient id="gradient" gradientUnits="userSpaceOnUse" x1="0" y1="77.5983" x2="205.8001" y2="77.5983">
        <stop offset="0" style="stop-color:#2EAFFF"/>
        <stop offset="1" style="stop-color:#505DDE"/>
      </linearGradient>
      <path class="st0" d="M205.8,19.1v117.1c0,10.5-8.5,19.1-19.1,19.1H42.5c-7.8,0-14.8-4.7-17.7-12L1.4,84.7c-1.8-4.6-1.8-9.6,0-14.2
    L24.8,12c2.9-7.2,9.9-12,17.7-12h144.2C197.3,0,205.8,8.5,205.8,19.1z"/>
    </svg>

    <div class="terminal bg-blur dark rounded-md border border-gray-600 p-4 text-white">
      <div class="flex mb-2">
        <div class="w-3 h-3 mr-2 rounded-md bg-red-500"></div>
        <div class="w-3 h-3 mr-2 rounded-md bg-yellow-500"></div>
        <div class="w-3 h-3 rounded-md bg-green-500"></div>
      </div>
      <asciinema-player src="vr.cast" autoplay></asciinema-player>
    </div>
  </div>

</div>

<div class="bg-gray-100 mt-10 py-28">
  <div class="main">
    <div class="text-xl text-center max-w-lg mx-auto pb-20">
      Velociraptor brings package.json-style scripts to Deno, with many added features:
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 md:gap-y-12 text-center">
      <div class="flex flex-col mx-auto items-center max-w-xs">
        <div class="text-blue-600 p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-6 shadow-lg rounded-full bg-white">
          <i class="fas fa-stream"></i>
        </div>
        <h6 class="text-xl font-semibold">Composite scripts</h6>
        <p class="mt-2 mb-4 text-gray-600">
          Write serial and parallel scripts directly in your config files
        </p>
      </div>
      <div class="flex flex-col mx-auto items-center max-w-xs">
        <div class="text-blue-600 p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-6 shadow-lg rounded-full bg-white">
          <i class="fas fa-code-branch"></i>
        </div>
        <h6 class="text-xl font-semibold">Git hooks</h6>
        <p class="mt-2 mb-4 text-gray-600">
          Link your scripts to git hooks, any vr command will install them
        </p>
      </div>
      <div class="flex flex-col mx-auto items-center max-w-xs">
        <div class="text-blue-600 p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-6 shadow-lg rounded-full bg-white">
          <i class="fas fa-terminal"></i>
        </div>
        <h6 class="text-xl font-semibold">Deno options</h6>
        <p class="mt-2 mb-4 text-gray-600">
          Write declarative Deno cli options and share them between your scripts
        </p>
      </div>
      <div class="flex flex-col mx-auto items-center max-w-xs">
        <div class="text-blue-600 p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-6 shadow-lg rounded-full bg-white">
          <i class="fas fa-file-code"></i>
        </div>
        <h6 class="text-xl font-semibold">Config files</h6>
        <p class="mt-2 mb-4 text-gray-600">
          Velociraptor supports yaml, json and typescript config files
        </p>
      </div>
      <div class="flex flex-col mx-auto items-center max-w-xs">
        <div class="text-blue-600 p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-6 shadow-lg rounded-full bg-white">
          <i class="fas fa-dollar-sign"></i>
        </div>
        <h6 class="text-xl font-semibold">Environment variables</h6>
        <p class="mt-2 mb-4 text-gray-600">
          Keep track of env variables in config files or link external dotenv files
        </p>
      </div>
      <div class="flex flex-col mx-auto items-center max-w-xs">
        <div class="text-blue-600 p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-6 shadow-lg rounded-full bg-white">
          <i class="fas fa-file-export"></i>
        </div>
        <h6 class="text-xl font-semibold">Export</h6>
        <p class="mt-2 mb-4 text-gray-600">
          Export scripts to sh for environments where vr is not available
        </p>
      </div>
    </div>
  </div>
</div>

<div class="main my-12 py-12 flex items-center justify-center">
  <a href="/docs"
     class="text-xl bg-blue-600 hover:bg-blue-700 transition-colors duration-300 rounded-lg shadow px-5 py-3 text-white text-lg">
    Get started
  </a>
</div>
