@tailwind base;
@tailwind components;

body {
  font-family: 'Open Sans', sans-serif;
  @apply text-gray-600 leading-normal break-words;
}

h1, h2, h3, h4, h5, h6, .font-headings {
  font-family: 'DM Sans', sans-serif;
}

article {
  @apply text-gray-500 leading-7;
}

article > * + * {
  @apply mt-0 mb-6;
}

article li + li {
  @apply mt-1;
}

article li > p + p {
  @apply mt-6;
}

article strong {
  @apply font-semibold;
}

article a {
  @apply text-blue-600;
}

article strong a {
  @apply font-bold;
}

article h1 {
  @apply text-gray-800 leading-tight border-b text-4xl font-medium mb-4 mt-6 pb-2;
}

article > h1:first-of-type {
  @apply mt-0;
}

article h2 {
  @apply text-gray-800 leading-tight border-b text-2xl font-medium mb-4 mt-8 pb-2;
}

article h3 {
  @apply text-gray-800 leading-snug text-lg font-medium mb-4 mt-8;
}

article h4 {
  @apply text-gray-800 leading-none text-base font-medium mb-4 mt-6;
}

article h5 {
  @apply text-gray-800 leading-tight text-sm font-medium mb-4 mt-6;
}

article h6 {
  @apply leading-tight text-sm font-medium text-gray-600 mb-4 mt-6;
}

article blockquote {
  @apply text-base border-l-4 border-gray-300 pl-4 pr-4 text-gray-400;
}

article code {
  padding: 2px 4px;
  @apply font-mono text-sm inline bg-gray-200 rounded;
}

article pre,
article pre.hljs {
  @apply rounded-lg p-4;
}

article pre code {
  @apply block bg-transparent p-0 overflow-visible rounded-none;
}

article ul {
  @apply text-base pl-8 list-disc;
}

article ol {
  @apply text-base pl-8 list-decimal;
}

article kbd {
  @apply text-xs inline-block rounded border p-1 align-middle font-normal font-mono shadow;
}

article table {
  @apply text-base border-gray-600;
}

article th {
  @apply border py-1 px-3;
}

article td {
  @apply border py-1 px-3;
}

article .header-anchor {
  position: absolute;
  left: -1em;
  opacity: 0;
  font-weight: normal;
  font-family: 'Open Sans', sans-serif;
  @apply text-gray-400;
}

article h1,
article h2,
article h3 {
  position: relative;
}

article h1:hover > .header-anchor,
article h2:hover > .header-anchor,
article h3:hover > .header-anchor {
  opacity: 1;
}

#menu-toggle[aria-expanded=false] > .fa-bars {
  display: inline;
}

#menu-toggle[aria-expanded=false] > .fa-times {
  display: none;
}

#menu-toggle[aria-expanded=true] > .fa-times {
  display: inline;
}

#menu-toggle[aria-expanded=true] > .fa-bars {
  display: none;
}

.sidebar {
  @apply font-headings
         flex-shrink-0
         md:mt-3;
}

#menu {
  width: 60vw;
  z-index: 1;
  @apply fixed
         bg-white
         px-4
         inset-y-0
         left-0
         transform-gpu
         -translate-x-full
         transition-all
         duration-300

         md:static
         md:transform-none
         md:w-1/5
         md:pr-8
         md:mr-8
         md:pl-0
         md:mt-0
         md:shadow-none;
}

@media (max-width: 768px) {
  #menu .md\:sticky {
    height: calc(100% - 5rem);
    @apply mt-20;
  }

  #menu .scroll-wrapper {
    height: 100%;
  }

  #menu.open {
    @apply translate-x-0 shadow-2xl;
  }
}

.sidebar .sticky {
  top: 100px;
}

@screen md {
  .sidebar .md\:sticky {
    top: 100px;
  }
}


.sidebar .scroll-wrapper {
  height: calc(100vh - 7.5rem);
  @apply overflow-y-auto;
}

.bg-blur {
  background: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.bg-blur.dark {
  background: rgba(0, 0, 0, 0.8);
}

.main {
  max-width: 90rem;
  @apply md:mx-auto p-4;
}

.h-fill {
  height: calc(100vh - 14em);
}

@tailwind utilities;
