<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>{{ title }}{% if url != '/' %} | Velociraptor{% endif %}</title>

  <link rel="icon" href="{{ '/images/favicon.png' | url }}">
  <link rel="stylesheet" href="{{ '/css/styles.css' | url }}">
  {% for style in styles %}
    <link rel="stylesheet" href="{{ ('/css/' + style) | url }}"/>
  {% endfor %}

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/b6a3908e9d.js" crossorigin="anonymous"></script>
  {% for script in scripts %}
    <script defer src="{{ ('/js/' + script) | url }}"></script>
  {% endfor %}
</head>
<body>
  <header class="fixed top-0 z-20 w-full border-b border-gray-100 bg-blur text-gray-500">
    <div class="main flex items-center">
      {% if hasMenu %}
        <button id="menu-toggle"
                class="block px-2 w-8 md:hidden mr-4 outline-none hover:text-blue-500 focus:text-blue-500"
                aria-label="Menu toggle"
                aria-expanded="false"
                aria-controls="menu">
          <i class="fas fa-bars" aria-hidden="true"></i>
          <i class="fas fa-times" aria-hidden="true"></i>
        </button>
      {% endif %}
      <a href="/" class="mr-auto flex items-center">
        <img src="{{ '/images/vr-logo.svg' | url }}" alt="Velociraptor Logo" class="h-8 mr-2">
        <span class="md:block hidden text-gray-500 text-xl font-bold">Velociraptor</span>
      </a>
      <nav>
        <ul class="list-none flex items-center">
          <li class="mr-3 hover:text-gray-600 transition-colors duration-300"><a href="/docs">Docs</a></li>
          <li class="mr-3 text-lg hover:text-gray-600 transition-colors duration-300">
            <a href="https://github.com/jurassiscripts/velociraptor" target="_blank">
              <span class="sr-only">Velociraptor on GitHub</span>
              <i class="fab fa-github"></i>
            </a>
          </li>
          <li class="text-lg hover:text-gray-600 transition-colors duration-300">
            <a href="https://discord.gg/M5K7TBd" target="_blank">
              <span class="sr-only">Velociraptor on Discord</span>
              <i class="fab fa-discord"></i>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </header>

  {{ content | safe }}

  <footer class="bg-gray-100 py-12">
    <div class="main flex items-center">
      <img src="{{ '/images/vr-logo.svg' | url }}" alt="Velociraptor Logo" class="h-8 mr-2">
      <span class="md:block hidden text-gray-500 text-xl font-bold">Velociraptor</span>
    </div>
  </footer>
</body>
</html>
